---
import Icon from 'astro-icon';
import felixPic from '~/assets/images/portraits/felix.webp';
import dominikPic from '~/assets/images/portraits/dominik.webp';
import philipPic from '~/assets/images/portraits/philip.webp';
import alexPic from '~/assets/images/portraits/alex.webp';

const members = [
	{
		name: 'Felix Kampas',
		role: 'Project Leader & Data Scientist',
		contact: 'fkampas@student.tgm.ac.at',
		image: (felixPic as any).src,
		alt: 'An image of Felix Kampas',
	},
	{
		name: 'Dominik Bosnic',
		role: 'Data Scientist',
		contact: 'dbosnic@student.tgm.ac.at',
		image: (dominikPic as any).src,
		alt: 'An image of Dominik Bosnic',
	},
	{
		name: 'Philip Damianik',
		role: 'Webdeveloper',
		contact: 'pdamianik@student.tgm.ac.at',
		image: (philipPic as any).src,
		alt: 'An image of Philip Damianik',
	},
	{
		name: 'Alexander Zmugg',
		role: 'Data Scientist',
		contact: 'jzmugg@student.tgm.ac.at',
		image: (alexPic as any).src,
		alt: 'An image of Alexander Zmugg',
	},
];
---

<section class="relative scroll-mt-16" id="team">
	<div class="absolute inset-0 bg-primary-50 dark:bg-slate-800 pointer-events-none mb-32" aria-hidden="true"></div>
	<div class="relative max-w-6xl mx-auto px-4 sm:px-6">
		<div class="py-4 pt-8 sm:py-6 lg:py-8 lg:pt-12">
			<div class="mb-8 text-center">
				<h2 class="text-4xl md:text-5xl font-bold leading-tighter tracking-tighter mb-4 font-heading">Our Team</h2>
				<p class="max-w-3xl mx-auto text-center text-xl text-gray-600 dark:text-slate-400">
					With two projects under their belt already these four students are analyzing the data to make latest
					scientific insights available to future medical personal.
				</p>
			</div>
			<div class="grid gap-6 md:grid-cols-2 lg:grid-cols-4 items-start my-12 dark:text-white">
				{
					members.map((member) => (
						<div class="flex-auto mx-auto max-w-sm p-6 bg-white dark:bg-slate-900 rounded shadow-xl hover:shadow-lg transition dark:border dark:border-slate-800">
							<div class="p-4">
								<img class="mx-auto w-full aspect-square rounded-full" src={member.image} alt={member.alt} />
							</div>
							<div class="mt-4">
								<p class="mb-1 font-bold text-gray-900 dark:text-slate-300">{member.name}</p>
								<p class="text-sm text-gray-700 dark:text-slate-400">{member.role}</p>
								<a href={`mailto:${member.contact}`} class="text-xs text-primary-600 dark:text-primary-500">
									<Icon name="tabler:mail" class="inline h-5 -ml-0.5" />
									{member.contact}
								</a>
							</div>
						</div>
					))
				}
			</div>
		</div>
	</div>
</section>
